<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['APP_NAME'] %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.13.1/styles.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :extra_head %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

